.entry
  border-bottom 1px dashed #ccc
  position relative
  p
    white-space pre-wrap
  .info
    background-color #aaa
    border-radius 50%
    min-width 1em
    position absolute
    right 0
    text-align center
    top 0
