.entry
  .body
    border-bottom 1px dashed #ccc
    position relative
    white-space pre-wrap
  .info
    background-color #aaa
    border-radius 10px
    min-width 1em
    position absolute
    right 0
    text-align center
    top 0
.entryBody
  width 100%
