extends ../layout
block body
  div(ng-app="mjournal", ng-controller="sign-in").sign-in
    div.error(ng-bind="error")
    form(ng-submit="signIn()")
      label email
      input(type="text", placeholder="email", ng-model="email")
      label password
      input(type="password", ng-model="password")
      input(
        type="submit"
        value="Sign In"
        ng-disabled="!(email && password)"
      )
