//http://www.colourlovers.com/palette/936955/Hoth
//Colors by name
$white = #ffffff
$snowDay = #f5f7f8
$icyWhite = #ebeced
$blueSteel = #3e4c53
$bubblegumTorquise = #1bbcdb

//Additional colors added by PL
$phoneAFish = #ff644e

//Semantic mappings
$background1 = $white
$background2 = $white
$backgroundAccent1 = $snowDay
$border1 = $icyWhite
$border2 = $blueSteel
$text1 = $blueSteel
$text2 = $icyWhite
$textAccent1 = $bubblegumTorquise
$errorText = $phoneAFish
