@require "theme/hoth/colorPalette"

.entry
  border-bottom 2px solid $snowDay
  &:last-child
    border none
  .created
    color $icyWhite
  .info
    background-color $background2
  .delete-entry
    color $icyWhite
    top 0.1em
    left 0

.body.new
  padding 0.5em
  border 1px solid $icyWhite

label.new
  color $text2

tags-input .host .tags
  border-radius 0.2em

input.tags.new
  background-color $background1
