@require "theme/hoth/color-palette"

.settings-menu menu, .settings-menu .open
  background-color $icyWhite

.settings-menu menuitem
  color $blueSteel
  a:hover
    background-color $snowDay
  a, a:visited, a:hover
    color $blueSteel
