@require "theme/moleskine/colorPalette"

.quick-dialog
  background-color $icyWhite

.sign-in
  font-family sans-serif
  input
    background-color $snowDay
    color $blueSteel
    border-radius 0.5em
    border none

  .signIn
    background-color $bubblegumTorquise

  .register
    color $blueSteel
    background-color $snowDay
