mediumScreen = "screen and (max-width: 1000px)"
smallScreen = "screen and (max-width: 720px)"
tinyScreen = "screen and (max-width: 400px)"

//https://github.com/mrmrs/fluidity
img, canvas, iframe, video, svg
  max-width 100%

.overflow-container
  overflow-y scroll
  -webkit-overflow-scrolling touch

.adaptive
  color gray
  position fixed
  &:after
    content "(large)"

@media mediumScreen
  .adaptive:after
    content "(1000 medium)"

@media smallScreen
  .adaptive:after
    content "(720 small)"

@media tinyScreen
  .adaptive:after
    content "(400 tiny)"
