//http://www.colourlovers.com/palette/782523/Moleskine
//Colors by name
$notTooBlack = #1F1F1F
$butterCream = #F2E79D
$bagels = #F8F3D3 //lighter than butter cream
$past = #BA2929 //deep red
$tunnel = #3F3434 //dark grey

//--extra colors added by PL
$smoke = #ddd
$charcoal = #999

//Semantic mappings
$background1 = $bagels
$background2 = $butterCream
$backgroundAccent1 = $notTooBlack
$border1 = $tunnel
$border2 = $notTooBlack
$text1 = $tunnel
$text2 = $bagels
$textAccent1 = $past
