@require "site/colorPalette"

fancy-font()
  font-family "Short Stack"

body
 background-color $bagels
 color $text1
 margin 0 auto
 width 35em
 font-size 24px
 padding-bottom 1em

.app-name
  fancy-font()
  display inline-block
  margin-right 1em
  a
    text-decoration none
    color $tunnel

.app-tag
  fancy-font()
  display inline-block
label
  display block
input[type=submit]
  display block

button()
  background-color $butterCream
  cursor pointer
  border 0.1em solid $past
  border-radius 0.5em
  color $tunnel
  outline none
  padding 0.5em 0.8em
  text-decoration none

button
  button()

a.sign-out
  button()
  position absolute
  top 0.5em
  right 0.5em
  font-size 16px

@require "site/toolbar.component"
@require "entries/tags.component"
@require "entries/entries"
