.toolbar
  width 100%
  position relative
  text-align center
  input
    min-width 15em
    height 2em
  .previous
    position absolute
    top 0
    left 1em
  .next
    position absolute
    top 0
    right 1em

