@import "app/colorPalette"
body
 background-color $background1
 color $text1
 margin 0 auto
 width 35em
 font-size 24px
label
  display block
input[type=submit]
  display block

@import "app/views/entries/main"
