// http://www.colourlovers.com/palette/121147/Moleskine_Notebook
//Colors by name
$asthma = #bdbaba //grey
$atLeastTheyKnow = #fcf6b5 //cream
$robotPurse = #f37b1f //orange
$tunnel = #3F3434 //dark brown

//Semantic mappings
$background1 = $atLeastTheyKnow
$background2 = $asthma
$text1 = $tunnel
$backgroundAccent1 = $robotPurse
$border1 = black
