extends layout
block body
  h1 mjournal HTTP API Documentation
    
  h2 Authentication
    
  p All requests must include an <code>Authorization</code> header in the form:
    
  code Authorization: key &lt;api-key&gt;
    
  p You can obtain an API key by signing in to the web application then using the button below
  
  div(ng-controller="apiKey")
    p.error(ng-if="error" ng-bind="error")
    button(ng-click="getKey()" ng-if="!apiKey") Get API Key
    p(ng-if="apiKey") Your API Key is: {{apiKey}}
    
  :markdown
    ## Entries
    
    `GET /api/entries` - get one page of entries as json. Each entry has the fields:
    
    - `id` a unique identifier
    - `body` the text body of the entry
    - `created` timestamp when the entry was created
    - `updated` timestamp when the entry was last updated
    - `tags` list of strings representing the entry's tag names
    
    `POST /api/entries` - create a new entry. Provide a JSON request body with:
    
    - `body` - the text body of the entry
    - `tags` - optional array of tag string names
    
    
    `POST /api/entries/:id` - update an existing entry. Provide a JSON request body with:
    
    - `body` - optional new text body
    - `tags` - optional new array of tag string names
    
    `DELETE /api/entries/:id`
    
    - delete an entry by its id
    
    
    ## Pagination
    
