extends layout-elm
block body
  div#elm-app-root
block append scripts
  script(src="/mjournal-elm.js?v=" + MJ_VERSION)
  script.
    var app = Elm.MJournal.embed(document.getElementById('elm-app-root'), __sharifyData.user)
    app.ports.setTheme.subscribe(function setTheme (name) {
      document.getElementById('theme').href = '/mjournal-' + name + '.css'
    })
    document.addEventListener('click', function onClick (event) {
      app.ports.clickDocument.send(false)
    })
