extends layout
block body
  div(ng-app="mjournal" ng-controller="entries")
    a.sign-out(href="/api/users/sign-out" target="_self") Sign Out
    include entries/entries.jade
    div.error(ng-bind="error")
    quick-dialog(dialog-name="reSignIn")
      h2 Please sign in again
      form(ng-submit="signIn($event)" ng-controller="sign-in" ng-init="re=true")
        label email
        input(type="email" ng-model="email")
        label password
        input(type="password" ng-model="password")
        input.signIn(
          type="submit"
          value="Sign In"
          ng-disabled="!(email && password)"
        )
