extends layout-elm
block body
  div#elm-app-root
block append scripts
  script(src="/mjournal-elm.js?v=" + MJ_VERSION)
  script.
    var nobody = {id: null, theme: null}
    var app = Elm.MJournal.embed(document.getElementById('elm-app-root'), __sharifyData.user || nobody)
    app.ports.setTheme.subscribe(function setTheme (name) {
      document.getElementById('theme').href = '/mjournal-' + name + '.css'
    })
    app.ports.clearNewEntryBody.subscribe(function clearNewEntryBody (_) {
      var elem = document.querySelector('.entry .body.new')
      if (elem) {
        elem.innerText = ''
      }
    })
    document.addEventListener('click', function onClick (event) {
      app.ports.clickDocument.send(false)
    })
