doctype html
html
  title mjournal - minimalist journaling
  link(rel="stylesheet" href="/mjournal.css")
  link(href="//fonts.googleapis.com/css?family=Alice"
    rel="stylesheet" type="text/css")
  meta(name="x-app-version" value=appVersion)
  body
    //- .adaptive
    h1.app-name
      a(href="/") mjournal
    h2.app-tag minimalist journaling
    block body
    block scripts
      script(src="/mjournal.js")
