doctype html
html
  title mjournal - minimalist journaling
  link(rel="stylesheet", href="/mjournal.css")
  link(href="http://fonts.googleapis.com/css?family=Short+Stack",
    rel="stylesheet", type="text/css")
  body
    h1.app-name
      a(href="/") mjournal
    h2.app-tag minimalist journaling
    block body
    block scripts
      script(src="/mjournal.js")
