extends layout
block body
  div(ng-app="mjournal", ng-controller="EntriesController")
    a.signOut(href="/sign-out") Sign Out
    input(type="text", placeholder="search entries...", ng-model="textSearch", ng-keypress="searchKeypress($event)")
    button(ng-click="previous()") Previous Entries
    button(ng-click="next()", ng-show="page > 1") Next Entries
    div.entries
      div.entry(ng-repeat="entry in entries")
        .info(title="{{entry.created | date:'short'}}") i
        p.body(
          ng-model="entry.body",
          edittext,
          ng-change="update(entry)")
        span.tagLabel Tags:&nbsp;
        span(ng-if="entry.editTags")
          input.tags(type="text", ng-if="entry.editTags", ng-model="entry.tags", ng-keypress="tagsKeypress($event, entry)")
        span(ng-if="!entry.editTags")
          span.tags(ng-bind="entry.tags", ng-if="!entry.editTags")
          button(ng-click="editTags(entry)") Edit Tags
      hr
      p.body.new(ng-keydown="create($event)", contenteditable="true")
      input.tags.new(ng-model="newEntryTags", placeholder="tags...")
  script(src="/lodash.js")
  script(src="/angular.js")
  script(src="/angular-resource.js")
  script(src="/editText.js")
  script(src="/main.js")
