extends layout
block body
  div(ng-app="mjournal")
    div.entries(ng-controller="EntriesController")
      div.entry(ng-repeat="entry in entries")
        .info(title="{{entry.created}}") i
        p.body(
          ng-model="entry.body",
          contenteditable="true",
          ng-change="update(entry)")
  script(src="/angular.js")
  script(src="/editText.js")
  script(src="/main.js")
