extends layout
block body
  div(ng-app="mjournal")
    div.entries(ng-controller="EntriesController")
      div.entry(ng-repeat="entry in entries")
        .info(title="{{entry.created}}") i
        p.body(
          ng-model="entry.body",
          edittext,
          ng-change="update(entry)")
      hr
      p.body.new(ng-keydown="create($event)", contenteditable="true")
  script(src="/angular.js")
  script(src="/editText.js")
  script(src="/main.js")
