extends layout
block body
  div(ng-app="mjournal", ng-controller="EntriesController")
    button(ng-click="previous()") Previous Entries
    button(ng-click="next()", ng-show="page > 1") Next Entries
    div.entries
      div.entry(ng-repeat="entry in entries")
        .info(title="{{entry.created}}") i
        p.body(
          ng-model="entry.body",
          edittext,
          ng-change="update(entry)")
      hr
      p.body.new(ng-keydown="create($event)", contenteditable="true")
  script(src="/lodash.js")
  script(src="/angular.js")
  script(src="/angular-resource.js")
  script(src="/editText.js")
  script(src="/main.js")
