extends layout
block body
  h1 mjournal
  h2 minimalist journaling
  if user
    div(ng-app="mjournal")
      p
        | {{ "mike" | greet }}
    script(src="/angular.js")
    script(src="/main.js")
  else
    include ../views/users/sign-in

