doctype 5
html
  title mjournal - minimalist journaling
  link(rel="stylesheet", href="/mjournal.css")
  body
    h1.app-name
      a(href="/") mjournal
    h2.app-tag minimalist journaling
    block body
    block scripts
      script(src="/mjournal.js")
