doctype 5
html
  title mjournal - minimalist journaling
  link(rel="stylesheet", href="/app.css")
  body
    block body
    script(src="/build.js")
    :coffeescript
      events = require "events"
      keyname = require "keyname"
      entryBodyEvents =
        onkeydown: (event) ->
          console.log "eventBody onkeydown", event
          if keyname(event.keyCode) == "enter" and event.shiftKey
            event.preventDefault()
            console.log('@bug saving!');
      events((document.querySelector ".entryBody"), entryBodyEvents).bind "keydown"
