extends layout
block body
  if error
    span.error= error.message
  form(method="post", action="/users/sign-in")
    label email
    input(type="text", placeholder="email", name="email")
    label password
    input(type="password", name="password")
    input(type="submit", value="Sign In")
