version: '2'
services:
  {{appName}}_db:
    container_name: '{{appName}}_db'
    environment:
      POSTGRES_PASSWORD: '{{postgres.password}}'
    image: 'postgres:{{postgres.version}}'
    network_mode: 'bridge'
    restart: 'unless-stopped'
    volumes: ['{{appName}}_data:/var/lib/postgresql/data']
  {{appName}}:
    build: '.'
    container_name: '{{appName}}'
    depends_on: ['{{appName}}_db']
    links: ['{{appName}}_db']
    network_mode: 'bridge'
    ports: ['127.0.0.1:{{port}}:{{port}}']
    restart: 'unless-stopped'
    volumes:
      - '/var/local/{{appName}}:/etc/{{appName}}'
volumes:
  '{{appName}}_data':
