#!/bin/bash
docker_exec() {
  docker exec \
    --interactive \
    --tty \
    "${container}" \
    /usr/lib/postgresql/9.4/bin/$@
}

export DOCKER_HOST=tcp://localhost:2375
container="{{appName}}_db"
user=postgres
backup_path="$1"
backup_file=$(basename "${backup_path}")
restore_file=$(echo "${backup_file}" | sed -e s/.\bz2//)
restore_path="/var/lib/postgresql/data/${restore_file}"
bunzip2 --stdout "${backup_path}" > "/var/local/"${container}/"${restore_file}"
docker_exec pg_ctl -D /var/lib/postgresql/data start
docker_exec psql --user="${user}" --no-password --file="${restore_path}" postgres
docker_exec pg_ctl -D /var/lib/postgresql/data start
