#!/bin/sh
# This file should be run as root (via sudo) on the docker host
# after pushing the correct images to the registry
# and copying the config files into /tmp

# FYI here's the docker options we use on stage:
# DOCKER_OPTS="--ip=0.0.0.0 --host=tcp://0.0.0.0:2375 --dns=8.8.8.8 --icc=false --iptables=true --insecure-registry=docker.peterlyons.com:5000"

set -o errexit    # always exit on error
set -o pipefail   # don"t ignore exit codes when piping output
# set -x          # enable debugging

docker_clean_rm() {
  local name="$1"
  # This tr -d nonesense is because mustache and docker inspect
  # use the same delimiter of a mustache
  set +e
  running=$(docker inspect -f $(echo "{z{.State.Running}z}" | tr -d z) "${name}")
  local exit_code=$?
  set -e
  if [[ "${running}" == "true" ]]; then
    printf "✓\nstopping %s" "${name}…"
    docker stop "${name}"
  fi
  if [[ "${running}" == "<no value>" ]]; then
    return
  fi
  if [[ ${exit_code} -eq 0 ]]; then
    printf "✓\nremoving %s" "${name}…"
    docker rm "${name}"
  fi
  # non-zero exit code from docker inspect probably means doesn't exist
}

prepare_fs() {
  printf "preparing docker host fs…"
  local www_data_uid=33
  # for the node.js app and nginx
  install --owner="${www_data_uid}" --group=staff --mode=755 --directory \
    /var/local/{{appName}} \
    /var/www/{{hostname}}
  if [[ "{{envName}}" == "production" ]]; then
    install --owner=root --group=staff --mode=750 \
      /tmp/nginx_{{appName}} /etc/nginx/sites-enabled/{{hostname}}
  fi
  # for the postgresql db. MUST be 0700 or postgresql won't start
  install --owner=root --group=staff --mode=0700 --directory \
    /var/local/{{appName}}_db
  if [[ "{{envName}}" == "production" ]]; then
    install --owner=root --group=staff --mode=750 \
      /tmp/backup-{{appName}}-db /etc/cron.daily/backup-{{appName}}-db
  fi

  local config_file=/var/local/{{appName}}/config.js
  readonly config_file

  if [[ ! -e "${config_file}" ]]; then
    install --owner="${www_data_uid}" --group=staff --mode=0460 /dev/null "${config_file}"
    echo "Empty config installed to ${config_file}."
    echo "Edit it and add the proper data then re-run this script."
    exit 10
  fi
  chown "${www_data_uid}:staff" "${config_file}"
  chmod 0460 "${config_file}"
}

stop_containers() {
  #app stops first for clean shutdown
  docker_clean_rm "{{appName}}"
  docker_clean_rm "{{appName}}_db"
}

start_containers() {
  printf "✓\nstarting {{appName}}_db…"
  docker run \
    "--name={{appName}}_db" \
    "--volume=/var/local/{{appName}}_db:/var/lib/postgresql/data" \
    "--volume=/var/log/{{appName}}_db:/var/log/postgresql" \
    --detach \
    --restart=always \
    postgres:{{postgres.version}}

  printf "✓\nstarting {{appName}}…"
  docker run \
    "--publish={{port}}:{{port}}" \
    "--name={{appName}}" \
    "--link={{appName}}_db:{{appName}}_db" \
    "--volume=/var/local/{{appName}}:/etc/{{appName}}" \
    "--volume=/var/local/{{appName}}:/var/log/{{appName}}" \
    --detach \
    --restart=on-failure:3 \
    {{{registry}}}/{{appName}}:{{envName}}
}

main() {
  cd "$(dirname "$0")"
  IFS="$(printf "\n\t")"

  if [[ ! -e /var/run/docker.sock ]]; then
    export DOCKER_HOST=tcp://localhost:2375
  fi
  prepare_fs
  stop_containers
  start_containers
}

main "$@"
