@require "angular-loading-bar/build/loading-bar.css"
@require "./adaptive"

body
  margin 0 auto
  max-width 30em
  font-size 24px
  padding-bottom 1em
  @media smallScreen
    font-size 18px

.app-name, .app-tag
  text-align center
  a
    text-decoration none

h1, h2, h3
  margin 0.2em

label
  display block

input[type=submit]
  display block

button()
  cursor pointer
  outline none
  padding 0.5em 0.8em
  text-decoration none

button
  button()
  &:disabled
    cursor not-allowed

a.sign-out
  button()
  position absolute
  top 0.5em
  right 0.5em
  font-size 16px

.error
  font-size 16px

@require "./toolbar.component"
@require "entries/tags.component"
@require "entries/entries"
@require "users/signIn"
