.toolbar
  width 100%
  position relative
  text-align center
  margin-bottom 0.5em
  input
    min-width 15em
    height 2em
  .smallText
    display none
  .clearTextSearch
    background-color $charcoal
    &.hidden
      visibility hidden
  @media smallScreen
    .smallText
      display inline
    .fullText
      display none
  .previous
    position absolute
    top 0
    left 1em
  .next
    position absolute
    top 0
    right 1em
