.toolbar
  display flex
  justify-content space-between
  text-align center
  margin 0.2em
  input
    min-width 15em
    height 2em
  .clearTextSearch
    background-color $charcoal
    &.hidden
      visibility hidden
