.entry
  position relative
  p
    white-space pre-wrap
  .created
    text-align right
    font-size 16px
    font-style italic
  .meta-row
    display flex
    justify-content space-between
  .body
    margin 0
    padding 0.2em 0
    outline 0
    line-height 1.4em
  .info
    display none
    min-width 1em
    text-align center
    top 0
  &:hover .info
    display block
  .meta
    visibility hidden
  &:hover .meta
    visibility visible
  .delete-entry
    font-size 12px
    padding 0.1em
    line-height 1.4em

.add-tag
  width 1em
  cursor pointer
  margin-bottom -0.2em

label.new
  margin-top 2em
  margin-bottom 0.5em
p.body.new
  margin 0
  margin-bottom 1em
  outline 0
  padding-left 1em
  //Design A: new entry expands to fit content
  min-height 4em
  //Design B: scroll bar
  // overflow-y auto
  // height 4em
  // &:not(:focus):after
  //   color $text1
  //   content "Type a new entry here\2026"
  //   font-style italic
  //   padding .5em
  //This overrides some crap from ng-tags-input
  *, *:before, *:after
    box-sizing initial

input.tags.new
  font-size 24px
  min-width: 15em

.scroll-to-top
  position fixed
  bottom 1em
  right 1em
