@require "site/colorPalette"

moleskine-grid()
  background url(grid.gif)

.notebook
  background-color $border2
  border 0.5em solid $border2
  border-radius 0.6em
  margin 0 0.2em

.page
  background url(grid.gif)
  border-radius 1em
  box-shadow -8px 8px $tunnel
  margin-top 0.5em
  moleskine-grid()

.entry
  border-bottom 0.05em dashed $charcoal
  fancy-font()
  padding 0.5em
  padding-bottom 0.2em
  position relative
  &:first-child
    // margin-top -@margin-top
  &:last-child
    border none
  p
    white-space pre-wrap
  .created
    font-family georgia, serif
    color $smoke
    text-align right
    font-size 16px
    font-style italic
  .body
    margin 0
    padding 0.2em 0
    outline 0
    line-height 1.4em
  .info
    background-color $background2
    border-radius 50%
    display none
    min-width 1em
    position absolute
    right 0
    text-align center
    top 0
  &:hover .info
    display block
  .meta
    visibility hidden
  &:hover .meta
    visibility visible

.add-tag
  width 1em
  cursor pointer
  margin-bottom -0.2em

label.new
  color $text2
  margin-top 2em
  margin-bottom 0.5em
p.body.new
  border-radius 0.5em
  fancy-font()
  margin 0
  margin-bottom 1em
  moleskine-grid()
  outline 0
  padding-left 1em
  //Design A: new entry expands to fit content
  min-height 4em
  //Design B: scroll bar
  // overflow-y auto
  // height 4em
  // &:not(:focus):after
  //   color $text1
  //   content "Type a new entry here\2026"
  //   font-style italic
  //   padding .5em
  //This overrides some crap from ng-tags-input
  *, *:before, *:after
    box-sizing initial

tags-input .host .tags
  border-radius 0.5em

input.tags.new
  background-color $background1
  font-size 24px
  min-width: 15em
