@import "site/colorPalette"

.notebook
  margin-top 1em;
  border-radius 1em
  border 1.5em solid $border2
  border-top-width 1em
  border-bottom-width 1em
  background-color $border2

.page
  background-color $bagels
  border 1.5em solid $bagels
  border-radius 1em
  border-right-width 0.6em
  border-left-width @border-right-width
  box-shadow -8px 8px $tunnel

.entry
  border 0.1em solid $butterCream
  border-radius 0.5em
  position relative
  padding 1em
  padding-bottom 0.2em
  margin-top 1em
  &:first-child
    margin-top -@margin-top
  p
    white-space pre-wrap
  .body
    margin 0
    padding 20px 0
    outline 0
  .info
    background-color $background2
    border-radius 50%
    display none
    min-width 1em
    position absolute
    right 0
    text-align center
    top 0
  &:hover .info
    display block
  button.add-tag
    border none
    border-radius 0.5em
    background-color $tunnel
    color $butterCream
    text-transform uppercase

p.body.new
  background-color $background1
  height 4em
  border-radius 0.5em
  padding-left 1em
  outline 0
  overflow-y auto
  &:not(:focus):after
    color $text1
    content "Type a new entry here\2026"
    font-style italic
    padding .5em

input.tags.new
  background-color $background1
  font-size 24px
  min-width: 15em
