@require "site/colorPalette"

ul.mj-tags
  display inline-block
  margin 0
  li
    list-style-type none
    display inline-block
    border-radius 0.5em
    border 0.1em solid $tunnel
    margin 0 0.2em
    padding 0 0.4em
    padding-bottom 5px
    font-size 18px

.mj-tag-remove
  color $past

