@require "site/colorPalette"
@require "ng-tags-input/ng-tags-input.css"

ul.mj-tags
  display inline-block
  margin 0
  padding-left 0.2em
  li
    background-color $smoke
    border-radius 0.5em
    color $charcoal
    display inline-block
    font-size 18px
    list-style-type none
    margin 0 0.2em
    padding 0 0.4em
    padding-bottom 5px
    &:hover .mj-tag-remove
        visibility visible

.mj-tag-remove
  visibility hidden
  color $past
  cursor pointer

//ng-tag-input overrides
tags-input
  display inline
  .host
    display inline-block
    width 100%
  .tags
    -webkit-appearance initial
    border none
    box-shadow none
    &.focused
      box-shadow none
    .tag-item
      fancy-font()
      background initial
      background-color $smoke
      color $charcoal
      span
        cursor pointer
      .remove-button
        visibility hidden
      &:hover .remove-button
        visibility visible
    .tag-list
      display inline
