@require "site/colorPalette"

ul.mj-tags
  display inline-block
  margin 0
  li
    list-item-type none
    display inline-block
    border-radius 0.5em
    background-color $background2
    margin 0 0.2em
    padding 0 0.4em
    font-size 18px

