@require "./colorPalette"

moleskine-grid()
  background url(grid.gif)

.notebook
  background-color $border2
  border 0.5em solid $border2
  border-radius 0.6em
  margin 0 0.2em

.page
  background url(grid.gif)
  border-radius 1em
  box-shadow -8px 8px $tunnel
  margin-top 0.5em
  moleskine-grid()

.entry
  border-bottom 0.05em dashed $charcoal
  fancy-font()
  padding 0.5em
  padding-bottom 0.2em
  position relative
  &:last-child
    border none
  .created
    font-family georgia, serif
    color $smoke
  .info
    background-color $background2
    border-radius 50%

label.new
  color $text2
p.body.new
  border-radius 0.5em
  fancy-font()
  moleskine-grid()

tags-input .host .tags
  border-radius 0.2em

input.tags.new
  background-color $background1
