@require "theme/hoth/color-palette"

.settings-menu menu,
.settings-menu .open
  background-color $smoke

.settings-menu menuitem
  color $tunnel
  &:hover
    background-color $butterCream
  a, a:visited, a:hover
    color $tunnel
