@require "theme/moleskine/colorPalette"

.quick-dialog
  background-color $bagels

.sign-in
  font-family sans-serif
  input
    border-radius 0.5em
    border none

  .register
    color $text2
    background-color $tunnel
