@require "./colorPalette"

ul.mj-tags li
    background-color $smoke
    color $charcoal

.mj-tag-remove
  color $past

//ng-tag-input overrides
tags-input .tags .tag-item
  fancy-font()
  background-color $smoke
  color $charcoal
