// Generic and reusable dropdown styling
// Don't put app-specific styles here

.dropdown
  position relative
  .dropdown-menu
    position absolute
    top 100%
    right 0
    z-index 1
    display none
    padding 0
    margin 0
    > menuitem
      > a
        display block
        padding 0.5em
        white-space nowrap
        i
          padding-right 0.5em
  &.open .dropdown-menu
    display block
