nav.settings-menu(ng-controller="settingsMenu")
  span.dropdown(dropdown)
    a.menu.icon-menu(dropdown-toggle)
    nav.dropdown-menu(role="menu")
      a.sign-out(href="/api/users/sign-out" target="_self")
        i.icon-exit
        | Sign Out
      a(ng-repeat="theme in themes" ng-click="setTheme(theme.name)")
        i(ng-class="{'icon-checkmark': theme.selected, 'icon-checkmark2': !theme.selected}")
        | Theme: {{theme.displayName}}
